
<div class="new">
    
                
                <div class="sec-title-shape mb-4">
                    <h1><div class="para" style="color: aqua;">ABOUT US</div></h1>
                    <CENTER><img src="assets/logo1.jpg" alt="" width="200px" height="200px">
                <h1><div class="para" style="background-color: black;"><strong>Have no time to prepare food?</strong></div></h1>
                <h2><div class="red" style="color: #0a0109">Choose one of our plans,enter delivery time and enjoy delicious food without leaving your Home</div></h2>
            </CENTER>
            <h1><div class="para"><strong>More Fresh and clean</strong></div></h1>
            <img src="assets/about1.jpg" alt="" width="200px" height="200px" border-radius="20px">
            <img src="assets/about2.jpg" alt="" width="200px" height="200px">
            <img src="assets/about3.jpg" alt="" width="200px" height="200px">
            <img src="assets/about 4.jpg" alt="" width="200px" height="200px">
            <img src="assets/about5.jpg" alt="" width="200px" height="200px">
            <img src="assets/about6.jpg" alt="" width="200px" height="200px">
                
           </div> 
        <!-- </div>
    </div> --> -->
</div>
















































