<p>contact works!</p>
<div class="book-table-info" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQrmO99Sit1ILnFBqYVJq3TJo9VNJgYomKlrUDV1u7PQrLpzkEMXazC1GhQJs4BmJxBEo&usqp=CAU); color: bisque;">
    <div class="row align-items-center">
        <div class="col-lg-4">
            <div class="table-title text-center">
                <h1>Contact us for bulk orders</h1>
                <h2>Monday to Sunday</h2>
                <p>9:00 am - 22:00 pm</p>
                <img src="assets/contact.jpg" alt="" width="200px" height="200px" align="center">
            </div>
        </div>
        
        <div class="col-lg-4">
            <div class="call-now text-center">
                <i class="uil uil-phone"></i>
                
                <h1>Contact Details:</h1>
                <a href="tel:+91-9629968061">+91 - 9629968061</a>
                <h2>ADDRESS:NO:20/XXXX STREET</h2>
                <h2>CITY:Chennai</h2>
                <h2>State:TamilNadu</h2>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="table-title text-center">
                
                <h1>Friday to Sunday special orders take</h1>
                <li class="red" style="color: #19e9cdf5"><strong>Birthday Party</strong> </li>
                <li class="red" style="color: #0df0caec"><strong>Betrothal Ceremony!!</strong></li>
                <h1>For special contact:</h1>
                <h1>994567832.</h1>

                <p>5::00 am to 20:00 pm</p>
            </div>
        </div>
    </div>
</div>